body {
    margin:0;
    text-align: center;
    padding: 200px;
}

.botao {
    background-color: rgb(56, 56, 209);
    color:#fff;
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow:1px 1px 5px #888888;
}
.botao:hover {
    background-color:rgb(156, 156, 199) ;
}